.fixedDataTableCellLayout_wrap1 {
	width: 100%;
	transition-duration: 0.2s;
}

.change-green {
	background-color: #fafa6e;
	color: #47af22;
}

.change-red {
	background-color: #fafa6e;
	color: #ff3300;
}

